httpx>=0.28, <0.29
sqlalchemy>=2.0, <2.1
pydantic>=2.12, <2.13
PyYAML>=6.0, <6.1
qtmonaco>=0.10, <0.11
qasync>=0.28, <0.29
PySide6>=6.11, <6.12
pyqtdarktheme-fork>=2.3, <2.4
markdown>=3.10, <3.11
pymdown-extensions>=11.0, <12.0
pygments>=2.20, <2.21
